@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    justify-content: center; /* This will center the content vertically */
    
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 15vh;
  }
  #profile {
    height: 88vh; /* Change to full viewport height */
    margin-bottom: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This will center the content vertically */
    align-items: center;
  }

  #profile  {
    max-width: 100%; /* Prevent image from exceeding parent width */
    height: auto; /* Maintain aspect ratio */
  }
  .roundImg{
    border-radius: 50%;
    max-width: 70%;

  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .section__text{
    margin-top: -2rem;
  }
  .title {
    font-size: 2rem;
  }
  .title-about,.title-project,.title-contact{
    font-size : 3rem;
  }
  footer p{
    font-size: 12px;
  }
  .bottom-navbar {
    gap: 0.75rem;
    padding: 0.5rem 0.75rem;
  }

  .bottom-navbar a {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
}
